<div style="margin-left: 15%;">

  <div style="display: flex; justify-content: center; margin-right: 20%; margin-top: 2%; margin-bottom: 2%">
    <img [src]="imageUrl" alt="Image">
  </div>
  <div style="justify-content: space-between; display: flex; margin-right: 20%; margin-top: 5%; text-align: start;">
    <h3 style="color: darkcyan">Employee Pairs</h3>
    <div>
      <input type="file" (change)="onFileSelected($event)">
      <button (click)="onUpload()">Upload</button>
    </div>
  </div>
  <div>
    <div style="margin-top: 5%;    margin-right: 15%;    margin-bottom: 5%;">
      <table class="table">
        <thead>
        <tr class="table-light">
          <th scope="col">First Employee</th>
          <th scope="col">Second Employee</th>
          <th scope="col">Duration (days)</th>
          <th scope="col">Projects</th>


          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let pair of pairList">
          <td>{{pair.firstEmployee}}</td>
          <td>{{pair.secondEmployee}}</td>
          <td>{{pair.durationInDays}}</td>
          <td>{{replaceChar(pair)}}</td>

        </tr>
        </tbody>
      </table>
      <!--      <button *ngIf="adminRole" type="button" class="btn btn-dark btn-rounded btn-icon" (click)="addUserModal()">-->
      <!--        <i class="fa fa-plus"></i>-->
      <!--        Add User-->
      <!--      </button>-->
    </div>
  </div>
</div>

<!--<ng-template #template>-->

<!--  <div class="modal-header">-->
<!--    <h4 class="modal-title pull-left">{{ title }}</h4>-->
<!--    <button type="button" class="close pull-right" aria-label="Close" (click)="cancel()">-->
<!--      <span aria-hidden="true">&times;</span>-->
<!--    </button>-->
<!--  </div>-->

<!--  <div class="modal-body">-->
<!--    <form [formGroup]="userForm" #myForm = "ngForm" (ngSubmit)="onSubmit(myForm.value)" >-->
<!--      <div formArrayName="users">-->
<!--        <div *ngFor="let user of users.controls; let i = index">-->
<!--          <div [formGroupName]="i" style="padding:20px; border: 1px solid gray; border-radius: 20px">-->
<!--            <div style="position: relative; left: 90%;">-->
<!--              &lt;!&ndash;                        <button type="button"&ndash;&gt;-->
<!--              &lt;!&ndash;                                style="border-radius: 50px; margin-left: 2px; width: 10%; background: #c95757;"&ndash;&gt;-->
<!--              &lt;!&ndash;                                class="btn btn-danger btn-rounded btn-icon" (click)="remove()">&ndash;&gt;-->
<!--              &lt;!&ndash;                          <i class="fa fa-minus"></i>&ndash;&gt;-->
<!--              &lt;!&ndash;                        </button>&ndash;&gt;-->
<!--            </div>-->

<!--            <div class="form-row" style="display: inline-flex">-->


<!--              <div class="form-group col-md-6" style="margin-right: 10%; margin-bottom: 10%;">-->
<!--                <label for="inputName" style="margin: 4px">Name</label>-->
<!--                <input type="text" class="form-control" id="inputName" placeholder="name" required-->
<!--                       formControlName="username">-->
<!--                &lt;!&ndash;                <div style="margin-left: 10px" *ngIf="validate(i,'username')" class="alert alert-danger">&ndash;&gt;-->
<!--                <span *ngIf="validate(i,'username')" style="color: #c07979; margin-left: 5%;">*required</span>-->
<!--                &lt;!&ndash;                </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                <span *ngIf="validate(i,'username')"> Required Field</span>&ndash;&gt;-->
<!--              </div>-->

<!--              <div class="form-group col-md-6">-->
<!--                <label for="selectRole" style="margin: 4px">Role</label>-->
<!--                <select id="selectRole" class="form-control" formControlName="role">-->
<!--                  <option hidden>Choose Role</option>-->
<!--                  <option *ngFor="let role of roleVal" [value]="role">{{role}}</option>-->
<!--                </select>-->
<!--                <span *ngIf="validate(i,'role')" style="color: #c07979; margin-left: 5%;">*required</span>-->

<!--              </div>-->
<!--            </div>-->
<!--            <div class="form-row" style="display: inline-flex">-->
<!--              <div class="form-group col-md-6" style="margin-right: 10%; margin-bottom: 10%;">-->
<!--                <label for="inputEmail" style="margin: 4px">Email</label>-->
<!--                <input style="width: 75%" type="text" class="form-control" id="inputEmail" placeholder="email" pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"-->
<!--                       formControlName="email">-->
<!--                <span *ngIf="validate(i,'email')" style="color: #c07979; margin-left: 5%;">*required</span>-->
<!--              </div>-->
<!--              <div class="form-group col-md-6" style="margin-right: 10%; margin-bottom: 10%">-->
<!--                <label for="inputPassword" style="margin: 4px">Password</label>-->
<!--                <input style="width: 75%" type="text" class="form-control" id="inputPassword" placeholder="password"-->
<!--                       formControlName="password">-->
<!--                <span *ngIf="validate(i,'password')" style="color: #c07979; margin-left: 5%;">*required</span>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="form-row" style="display: inline-flex">-->
<!--              <div class="form-group col-md-6" style="margin-right: 10%; margin-bottom: 10%;">-->
<!--                <label for="inputPolicy" style="margin: 4px">Policy</label>-->
<!--                <input type="text" class="form-control" id="inputPolicy" placeholder="policy"-->
<!--                       formControlName="policy">-->
<!--                <span *ngIf="validate(i,'policy')" style="color: #c07979; margin-left: 5%;">*required</span>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div>-->
<!--            <br>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div style=" display: flex;  justify-content: flex-end;">-->
<!--        &lt;!&ndash;                <button type="button" style="background: blue;" class="btn btn-info btn-rounded btn-icon"&ndash;&gt;-->
<!--        &lt;!&ndash;                        (click)="addFormGroup()">&ndash;&gt;-->
<!--        &lt;!&ndash;                </button>&ndash;&gt;-->
<!--        &lt;!&ndash;        <button *ngIf="isUpdate" type="button" style="width: 80px;" class="cancelButton"&ndash;&gt;-->
<!--        &lt;!&ndash;                (click)="remove()">&ndash;&gt;-->
<!--        &lt;!&ndash;          <i class="fa fa-trash-o" aria-hidden="true"></i></button>&ndash;&gt;-->
<!--        <button *ngIf="isUpdate" type="button" style="width: 80px;" class="saveButton"-->
<!--                (click)="update()">-->
<!--          <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>-->
<!--        <button *ngIf="!isUpdate" type="button" style="width: 80px;" class="saveButton"-->
<!--                (click)="add()" [disabled]="myForm.invalid">-->
<!--          <i class="fa fa-check"></i></button>-->
<!--      </div>-->

<!--    </form>-->
<!--  </div>-->

<!--</ng-template>-->
